extends layout
block title
  title 新闻首页
block style
  link(rel='stylesheet', href='../public/stylesheets/style.css')
block content
    .container-fluid
      .row
        .col-xs-12.clear-padding
          // Nav tabs
          ul#type.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#jingxuan', role='tab', data-toggle='tab', data-type='jingxuan') 精选
            li(role='presentation')
              a(href='#baijia', role='tab', data-toggle='tab', data-type='baijia') 百家
            li(role='presentation')
              a(href='#yule', role='tab', data-toggle='tab', data-type='yule') 娱乐
            li(role='presentation')
              a(href='#shehui', role='tab', data-toggle='tab', data-type='shehui') 社会
            li(role='presentation')
              a(href='#junshi', role='tab', data-toggle='tab', data-type='junshi') 军事
      // Tab panes
      .tab-content
        #jingxuan.tab-pane.active(role='tabpanel')
        #baijia.tab-pane(role='tabpanel')
        #yule.tab-pane(role='tabpanel')
        #shehui.tab-pane(role='tabpanel')
        #junshi.tab-pane(role='tabpanel')
block script
  script(src='../public/javascripts/baidu.js')
  script(type='text/javascript').
    $(function() {
    baidu.init();
    });
