h1.local-station 碧海云天
    .station
        .left
            h1.station-line 22
            h4 下站：
                p 以岭医院
            p 公交服务热线
                br
                | 872157854
        .right
            .station-info
                span 开往
                h2 中通驾校
                em 本站
                p
                    span 首车：6:00
                    span 末车：22:00
            .stations
                span 火车站
                span 长途汽车站
                span 保龙仓购物广场
                span 爱尔眼科医院
                span 居然丽家
                span （恒丰大酒店）
                span 西三教东
                span 供电局
                span 西三教
                span 春江花月
                span 育星幼儿园
                span 祥隆泰
                span 工运学校
                span 石铜路北口
                span.curStation 碧海云天
                span 以岭医院
                span 金石园区
                span 西二环前石公路口(东)
                span 西二环桃安公路
                span 西二环前石公路口(西)
                span 辛达院士园
                span 辛达院士园南
                span 中通驾校

