.view {
    width: 180px;
    height: 180px;
    margin: 180px auto 0 auto;
}


/*  the magicBox container settings 
		add animation to it 
 */

.box {
    position: relative;
    -webkit-animation: animation 5s ease-in-out infinite;
    -moz-animation: animation 5s ease-in-out infinite;
    -ms-animation: animation 5s ease-in-out infinite;
    -o-animation: animation 5s ease-in-out infinite;
    animation: animation 5s ease-in-out infinite;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* -webkit-perspective:3000; */
 
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
       perspective-origin: 50% 50%;
    transform-origin: 90px 90px 0;
    -webkit-transform-origin: 90px 90px 0;
    -moz-transform-origin: 90px 90px 0;
    -ms-transform-origin: 90px 90px 0;
    -o-transform-origin: 90px 90px 0;
}


/*  the magicBox container settings */


/* give big perspective style in common */

.box .one,
.two,
.three,
.four,
.five,
.six {
    width: 180px;
    height: 180px;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    line-height: 180px;
    font-size: 130px;
    color: #333;
    font-weight: 800;
    opacity: 0.8;
    border: 1px solid #70AAA9;
    overflow: hidden;
}


/* give big perspective style in common */


/* give  every perspective a style and 3D effect */

.one {
    background-color: #F4D6E0;
    -webkit-transform: translateZ(90px);
     -moz-transform: translateZ(90px);
      -ms-transform: translateZ(90px);
       -o-transform: translateZ(90px);
    transform: translateZ(90px);
}

.two {
    background-color: #EFE4B0;
    -webkit-transform: rotateX(-90deg) translateZ(90px);
     -moz-transform: rotateX(-90deg) translateZ(90px);
      -ms-transform: rotateX(-90deg) translateZ(90px);
       -o-transform: rotateX(-90deg) translateZ(90px);
    transform: rotateX(-90deg) translateZ(90px);
}

.three {
    background-color: #99D9EA;
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(90px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(90px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(90px);
    -o-transform: rotateY(90deg) rotateX(90deg) translateZ(90px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(90px);
}

.four {
    background-color: #C8BFE7;
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(90px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(90px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(90px);
    -o-transform: rotateY(180deg) rotateZ(90deg) translateZ(90px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(90px);
}

.five {
    background-color: #7092BE;
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(90px);
      -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(90px);
        -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(90px);
          -o-transform: rotateY(-90deg) rotateZ(90deg) translateZ(90px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(90px);
}

.six {
    background-color: #76D993;
    -webkit-transform: rotateY(90deg) translateZ(90px);
    -moz-transform: rotateY(90deg) translateZ(90px);
    -ms-transform: rotateY(90deg) translateZ(90px);
    -o-transform: rotateY(90deg) translateZ(90px);
    transform: rotateY(90deg) translateZ(90px);
}


/* give  every perspective a style and 3D effect */


/* animation settings start */

@keyframes animation {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25% {
        transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
    }
    75% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@-webkit-keyframes animation {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25% {
        -webkit-transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
    }
    75% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@-moz-keyframes animation {
    0% {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25% {
        -moz-transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -moz-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
    }
    75% {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
    }
    100% {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

/* animation settings end */


/* give inner nine sections a style  */

div.inner {
    float: left;
    width: 53px;
    height: 53px;
    border: solid 5px #000;
    display: block;
    line-height: 53px;
    text-align: center;
    margin: 0 -5px -5px 0;
    z-index: 1;
    position: relative;
}


/* give inner nine sections a style  */
